*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
div{
    margin: 0 auto;
    width: 500px;
    border: 1px solid black;
} 
ul{
    margin-left: 60px;
}
h1{
    margin-bottom: 20px;
}